[main]
host = https://www.transifex.com

[psi-plus.full]
file_filter = translations/psi-plus.full/psi_<lang>.ts
source_file = translations/psi-plus.full/psi_en.ts
source_lang = en

[psi-plus.desktop-file]
file_filter = translations/psi-plus.desktop-file/psi_<lang>.desktop
source_file = translations/psi-plus.desktop-file/psi_en.desktop
source_lang = en
